



<div class="row">
  <div class="col-sm-4"></div>
  <div class=" col-sm-2">
    <label for="verdadero">
      <strong>Verdadero:</strong>
    </label>
  </div>
  <div class="col-sm-1">
    <input id="verdadero" class="form-control" type="radio" name="respuesta" value="true" checked>
  </div>
  <div class="col-sm-5"></div>
</div>

<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-2">
    <label for="falso">
      <strong>Falso:</strong>
    </label>
  </div>
  <div class="col-sm-1">
    <input  id="falso" class="form-control" type="radio" name="respuesta" value="false"> 
  </div>
  <div class="col-sm-5"></div>
</div>







