
{% extends "base.html" %}

{% block titulo %}Login{% endblock %}

{% block scripts %}
<script src="/static/js/login.js"></script>

{% endblock %}

{% block encabezado %}Autentícate{% endblock %}



{% block contenido %}

{% for error in errores %}
<div  class="alert  alert-danger alert-dismissable falloTexto">
  {{ error }}
</div>
{% endfor %}
<form method="post" action="/login/">{% csrf_token %}
  <fieldset>
    <legend>Información de autenticación:</legend>
    <div id="grupoTexto" class="form-group">
      <div class="row">
	<div class="col-sm-4">
	  <label for="user">
	    <strong>Usuario:</strong>
	  </label>
	</div>
	<div class="col-sm-8">
	  <input name="user" class="form-control" type="text" id="user" required />
	</div>
	<span id="iconoX" style="display:none" class="glyphicon glyphicon-remove form-control-feedback"></span>
      </div>
    </div>
    
    <div id="grupoPass" class="form-group">
      <div class="row">
	<div class="col-sm-4">
	  <label for="pass">
	    <strong>Contraseña:</strong>
	  </label>
	</div>
	<div class="col-sm-8">
	  <input name="password" class="form-control" type="password" id="pass" required />
	</div>
	<span id="iconoXPass" style="display:none" class="glyphicon glyphicon-remove form-control-feedback"></span>
      </div>
    </div>
    
    
    <div class="row">
      <div class="col-sm-5"></div>
      <div class="col-sm-2">
	<input id="bsubmit" class="btn btn-primary btn-block" type="submit" />
      </div>
      <div class="col-sm-5"></div>
    </div>
  </fieldset>
</form>

{% endblock %}
